@import "../../variables.scss";

.GameLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  margin: 0 auto;
  padding-top: 3em;
  max-width: 90%;
  @media (max-width: $mediaPoint)  {
    flex-direction: column;
    justify-content: space-around;
  }
}