@import "../../variables.scss";

.square {
  background: $bgc;
  border: 1px solid $border;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2em;
  height: 2em;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 2em;
  color: $coor;

  &:focus {
    outline: none;
  }
}

.disabled {
  cursor: not-allowed;
}

.kbd-navigation .square:focus {
  background: $bgc;
}

.winner-line {
  background-color: lighten($text, 20%);
}