@import "../../../variables.scss";
.game-info {
  color: $text;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  min-width: 60%;
}
.status {
  margin-bottom: .725em;
}