@import "./variables.scss";

:root {
  font-size: calc(0.5em + 2vw);
  background-color: $bgc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 1rem "Century Gothic", Futura, sans-serif;
}

ol,
ul {
  list-style: none;
}